.contact {
  padding: 2rem;
  max-width: 500px;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  
}
label {
  margin-bottom: 1rem;
}
input, textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
button {
  padding: 0.75rem;
  background-color: #5d707f;
  color: #0b132b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 103%

}
button:hover {
  background-color: #333;
}
