body {
  margin-left: 5%;
  margin-right: 5%;
  MARGIN-TOP: 0;
  background: #fdf5e6;
  color: #0b132b;;
font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: light 300;
  font-style: normal;

}